a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #444;
}

header {
    background-color: #f2f2f2;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #f2f2f2;
}

.nav-container {
    padding-top: 30px;
    padding-right: 8px;
    padding-bottom: 30px;
    padding-left: 8px;
    margin-left: 25%;
    margin-right: 25%;
}

.nav-main {
    display: grid;
    grid-template-columns: 50px 50px 60px 30px auto 150px 100px 100px 60px;
    grid-gap: 10px;
    background-color: grey;
    color: #444;
    font-family: Roboto;
    font-size: 0.8em;
    padding: 20px;
}

.main {
    background-color: #444;
    color: #fff;
    width: 1785px;
    padding: 20px;
    font-size: 150%;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 2.5em;
    line-height: 1.7em;
    color: #444;
    margin-bottom: 20px;
}

.section-container-wide-banner {
    /*selecciona imagen como background*/
    background: url(https://www.modulosdesk.com/static/media/modulos-web-hero-bg-flip.0efcc100.jpg) no-repeat;
    /*desplaza la imagen para en x y y*/
    background-position-x: 50%;
    background-position-y: 58%;
    /*ajusta ancho y alto*/
    width: auto;
    height: 727.559px;
    /*crea espacio inferior para sobreponer la seccion siguiente cubriendo patas del escritorio*/
    padding-bottom: 80px;
}

.banner {
    /*margenes a los lados*/
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 1.51%;
    padding-left: 1.51%;
    display: grid;
    grid-template-columns: 42% 58%;
}

.modularDesk {
    margin-top: 167.438px;
    margin-bottom: 167.438px;
    margin-right: 80px;
}

.botones-contenedor {
    margin-top: 38px;
    height: 61.48px;
}

#boton-configure {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: #28A5BE;
    color: white;
    font-family: 'Muli', sans-serif;
    font-style: unset;
}

#boton-learn {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #2D2D2D;
    color: white;
    font-family: 'Muli', sans-serif;
    font-style: unset;
}

.p-modularDesk {
    font-weight: 300;
    font-size: 0.753em;
    line-height: 160%;
    color: #43525A;
    margin-bottom: 62px;
}

.prueba {
    /*asigno tamano*/
    height: 10%;
    width: 50%;
    /*distancia contenido a marco*/
    padding-top: 60px;
    margin-right: 15px;
    padding-bottom: 10px;
}

#sandbox {
    padding-left: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 5px;
    margin: 10px;
}

.para {
    padding: 30px;
    margin: 0px;
    color: red;
}


/*A surface made of modules*/

.section-container-wide-surface {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 32%;
    margin-right: 32%;
    background-color: #fff;
    border-style: solid;
    border-color: #dedede;
    border-width: 1px;
}

.box-modules {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

.title-modules {
    font-size: 2.2em;
    line-height: 1.7em;
    color: #43525A;
    margin-bottom: 0px;
}

.parrafo1 {
    font-weight: 300;
    font-size: 0.753em;
    line-height: 160%;
}

.parrafo2 {
    font-weight: 300;
    font-size: 0.753em;
    line-height: 160%;
    margin-bottom: 62px;
}

#shop-boton {
    background: #2D2D2D;
    font-family: 'Muli', sans-serif;
    font-style: unset;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 6%;
    padding-left: 6%;
}

#specs {
    margin-left: 32%;
    margin-right: 32%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: center;
    line-height: 160%;
}

#specs-super {
    grid-column: 1 / 4;
    grid-row: 1;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

#specs-create {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#specs-assemble {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#specs-reconfigure {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.specs-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 20%;
    margin-bottom: 5%;
    text-align: center;
}


/***** AQUI COMIENZA LO BUENO!!!!!! *****/

.wide {
    margin-left: 30%;
    margin-right: 30%;
}

.wide--fix-position {
    position: absolute;
    top: 175%;
    left: 1.5%;
    background-color: #ffffff;
}

.wide--grid1x3 {
    display: grid;
    grid-template-columns: 15% 60% 15%;
    margin-top: 750px;
}

#div-img-desk2 {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    height: 578px;
    width: 1404px;
}

#div-blank {
    position: absolute;
    top: 180%;
    height: 540px;
    width: 1400px;
    background-color: #ffffff;
}

.h2 {
    font-weight: 600;
    font-size: 2.28571rem;
    line-height: 120%;
    color: #43525A;
    margin-top: 0%;
}

.h2--vertical-space-1 {
    margin-bottom: 25px;
}

.p {
    font-size: 1rem;
    line-height: 160%;
    margin: 0;
}

.p--centered {
    text-align: center;
}

#discount-box {
    background-color: #ffffff;
    width: 1200px;
    height: 550px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 80px;
}

#div-h2p-get-discount {
    margin-bottom: 36px;
    margin-left: 58px;
    margin-right: 58px;
}

#div-img-tiles {
    width: 310px;
    height: 152px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#div-h2p-discounts {
    margin-left: 103px;
    margin-right: 103px;
    margin-top: 38px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.div--padding {
    padding-left: 25.71px;
    padding-right: 25.71px;
    padding-top: 12.85px;
    padding-bottom: 12.85px;
    text-align: center;
}

.p--circled-colored {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 1.14286rem;
    border: 0.14286rem solid #43525A;
    width: 2.85714rem;
    height: 2.85714rem;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    border-color: #28A5BE;
    color: #28A5BE;
}

.wide--grid1x3 {
    height: 530px;
}

.div-img-wood {
    width: 265px;
    height: 528px;
    overflow: hidden;
    margin: 0;
}

#img-wood-left {
    display: block;
    margin: 0 -114%;
    height: 112%;
}

#img-wood-right {
    display: block;
    margin: 0 -10%;
    height: 112%;
}

#div-text-material-quality {
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 50px;
}

.h2--vertical-space-2 {
    margin-top: 19px;
    margin-bottom: 50px;
}

#div-a-button-1 {
    margin-top: 5px;
    border: 2.56px;
    padding-top: 10px;
    padding-bottom: 15.42px;
    text-align: center;
}

#a-button1 {
    padding: 0.85714rem 1.78571rem;
    color: #28A5BE;
    border: 0.14286rem solid #28A5BE;
    display: inline-block;
    text-decoration: none;
    margin: 2.85714rem auto 0;
    transition: all 0.3s ease-in-out;
    font-size: 1.14286rem;
}

.wide--grid1x2 {
    margin-top: 100px;
    color: #fff;
    background-image: linear-gradient(-90deg, #1BA5C0 0%, #0C6B8C 100%);
    display: grid;
    grid-template-columns: 700px 700px;
    width: 1400px;
}

#div-text-configure {
    margin-left: 100px;
    margin-top: 150px;
    margin-right: 50px;
    width: 500px;
}

.h2--align-left {
    font-family: "Muli", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 2.28571rem;
    line-height: 120%;
    margin: 0 auto 2.14286rem;
    text-align: left;
}

.p--align-left {
    color: #fff;
}

#div-a-button-2 {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 15.42px;
    text-align: right;
}

#a-button2 {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0.71429rem 1.42857rem;
    display: block;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #2D2D2D;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#div-blank-blue {
    width: 700px;
}

#div-img-configure {
    width: 726px;
    margin: 0 -13.5%;
}

#div-text-configure {
    margin-top: 100px;
    color: #fff;
    background-image: linear-gradient(-90deg, #208DA9 0%, #0C6B8C 100%);
    width: 690px;
    height: 522px;
    position: absolute;
    left: 616px;
    top: 4305px;
    margin-right: 100px;
    padding-left: 80px;
    padding-right: 70px;
    padding-top: 100px;
}

.wide--padding {
    width: 1320px;
    padding-top: 80px;
    padding-left: 20px;
    padding-left: 20px;
    margin-left: 32%;
}

.h2--marging-top {
    margin-top: 60px;
}

.a--blue {
    font-weight: 700;
    color: #28A5BE;
    font-size: 1rem;
    line-height: 160%;
}

.p--line-height {
    line-height: 160%;
}

.p--color-blue {
    font-weight: 400;
    margin: 1.07143rem 0;
    font-size: 1.28571rem;
    line-height: 1.92857rem;
    color: #28A5BE;
}

.wide--grid-3x2 {
    margin-left: 28%;
    width: 1280px;
    height: 621px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    padding-bottom: 150px;
}

#div-img-pic1 {
    grid-row: 1/3;
    grid-column: 1/ 3;
}

#div-img-pic2 {
    width: 300px;
    grid-row: 1;
    grid-column: 3;
    margin-left: 63px;
}

#div-img-pic3 {
    grid-row: 1;
    grid-column: 4;
    margin-left: 70px;
}

#div-img-pic4 {
    grid-row: 2;
    grid-column: 3;
    margin-left: 50px;
    margin-top: 39px;
}

#div-img-pic5 {
    grid-row: 2;
    grid-column: 4;
    margin-left: 70px;
    margin-top: 39px;
}

.img-pic-grande {
    display: block;
    /*remove inline-block spaces*/
    width: 100%;
    /*make image streatch*/
}

.img-pic-pequena {
    display: block;
    /*remove inline-block spaces*/
    width: 290px;
    /*make image streatch*/
}

.wide--background-green {
    width: 1400px;
    height: 458px;
    background-color: #BEEADF;
    color: #43525A;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-rows: 50% 50%;
}

#div-text-environmental {
    margin-left: 200px;
    margin-right: 200px;
}

#div-img-environmental {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-left: 210px;
    margin-right: 140px;
}

.h2--align-environmental {}

.p--centered-environmental {
    font-weight: 400;
    margin: 0.71429rem 0;
    font-size: 14px;
    line-height: 180%;
    text-align: center;
}

footer {
    width: 1391px;
    height: 200px;
    margin-left: 535px;
    margin-right: 35px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
}

#div-logo-footer {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right-width: .25px;
    border-right-style: solid;
    border-right-color: #ddd;
}

#a-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #43525A;
    text-decoration: none;
}

h4 {
    font-size: 12px;
}

h3 {
    font-size: 14px;
}

#div-menu-footer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}